html, body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 350px;
  color: #ffc400;
  background: rgb(31, 31, 31);
}

p{line-height: 2.5em;}

.btnLink {
  text-decoration: none;
  color: #ffffff;
  transition: 1s ease; 
}

.btnLink:hover {
  text-decoration: none;
  color: #ffc400;
  transition: 1s ease; 
}

.logo{font-size: 10em;}

footer{
  margin-top: 100px;
}

footer a{ color: #fff; }